<<<<<<< HEAD
=======
.gallery{
	background: url(img/gbg.jpg)no-repeat;
	background-size: cover;
}

.gallery .thumbnail-gallery .likes{
	background-size: 14px;
	cursor: pointer;
}
.gallery .thumbnail-gallery .likes.liked{
	background: url(img/hearted.png)no-repeat;
	background-size: 14px;
	background-position: 0 6px;
}

.gallery .caption{
	cursor: default;
}
>>>>>>> origin/master
