body{
	@include box-sizing(border-box);
	font-size: 100%;
	min-height: 500px;
	background-color: #47c2fd;
	@include danis;
	overflow-x: hidden;
	&:before,
	&:after{
		content: "";
	}
}
select{
	cursor: pointer;
}
p{
	@include font-size(22px);
	color: $brown;
}
img{
	display: block;
}
.clear {
	@include clearfix;
}
a{
	text-decoration: none;
}
hr{
	margin: 24px 0;
}
textarea:focus, input:focus{
    outline: 0;
}
[placeholder]:focus::-webkit-input-placeholder {
	@include transition(all .3s ease-in-out);
    @include translate(40px, 0);
    opacity: 0;
}
.row{
	@include clearfix;

}
.accessible-text {
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.hide-text {
	@include hide-text;
}

.center-block{
	display: block;
	margin: 0 auto;
}

.container{
	width: 1260px;
	display: block;
	margin: auto;
	position: relative;
}

.wrapper{
	width: 960px;
	display: block;
	margin: auto;
	position: relative;
}
.button{
	border: 1px solid #941607;
	border-bottom: none;
	background: #f03b22;
	padding: 7px 10px;
	@include border-radius(6px);
	color: white;
	text-shadow: 0px 3px 2px rgba(91, 20, 12, 1);
	@include avant;
	@include font-size(18px);
	-webkit-box-shadow: 0px 6px 0px 0 rgba(169,28,11,0.75);
	-moz-box-shadow: 0px 6px 0px 0 rgba(169,28,11,0.75);
	box-shadow: 0px 6px 0px 0 rgba(169,28,11,0.75);
	position: relative;
	top: 0;
	@include transition(.1s);
	cursor: pointer;
	&:hover{
		text-shadow: none;
	}
	&:focus,
	&:active{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		top: 5px;
		&:before{
			opacity: 0;
		}
	}

}

.input-text{
	@include font-size(14px);
	border: none;
	line-height: 1;
	width: 380px;
	background: url(img/input-text.png)no-repeat;
	padding: 20px;
	outline: none;
	overflow: hidden;
	color: $brown;
	&::-webkit-input-placeholder { color:white; }
	&::-moz-placeholder { color:white; } /* firefox 19+ */
	&:-ms-input-placeholder { color:white; } /* ie */
}
.select-category{
	width: 380px;
	border: none;
	background: url(img/select.png)no-repeat;
	padding: 20px;
	color: white;
	outline: none;

}

.top-fixed{
	position: fixed !important;
	z-index: 1000000;
	width: 240px;
	height: 160px;
	margin-top: -50px;
}

@include keyframes(scroll){
	0%{
		@include transform(translateY(0));
	}
	50%{
		@include transform(translateY(5px));
	}
	100%{
		@include transform(translateY(0));
	}
}