.site-logo{
	@include hide-text;
	position: absolute;
	top: 10px;
	left: 10px;
}

.campaign-title{
	display: block;
	text-align: center;
	width: 100%;
	padding-top: 20px;
	img{
		display: inline-block;
	}
}
.soc-med{
	position: absolute;
	right: 10px;
	width: 75px;
	height: 246px;
	top: 50px;
	background: url(img/sos-med.png)no-repeat;
	.twitter,
	.fb{
		position: absolute;
		bottom: 0;
		left: 18px;
		width: 38px;
		height: 50px;
		@include  hide-text;
	}
	.fb{
		bottom: 50px;
	}
}

.gallery-btn{
	top: 140px;
	left: 10px;
	background: url(img/pesawat.png)no-repeat;
	@include hide-text;
	width: 140px;
	height: 134px;
	position: absolute;
}

.home{
	#content{
		position: absolute;
		width: 100%;
		bottom: 0;
	}
}



.clouds {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

[class^="cloud-"] {
	position: absolute;
	left: 120%;
	width: 120px;
	height: 30px;
	background: #fff;
	-webkit-border-radius: 200px;
	border-radius: 200px;
}

// [class^="cloud-"]:before,
[class^="cloud-"]:before {
	content: '';
	position: absolute;
	top: -25px;
	left: 40px;
	width: 60px;
	height: 70px;
	background: #fff;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	transform: rotate(-60deg);
}

[class^="cloud-"]:after {
	content: '';
	position: absolute;
	top: -12px;
	left: 20px;
	width: 30px;
	height: 45px;
	@include transform (rotate(-40deg));
	background: #fff;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.cloud-1 {
	top: 50px;
	@include animation (moveclouds 40s linear infinite);
}

.cloud-2 {
	top: 100px;
  opacity: 0.8;
  -webkit-transform: scale(0.8);
	   -moz-transform: scale(0.8);
	        transform: scale(0.8);
	@include animation (moveclouds 70s linear infinite);
	-webkit-animation-delay: 5s;
     -moz-animation-delay: 5s;
          animation-delay: 5s;
}

.cloud-3 {
	top: 150px;
	opacity: 0.6;
	@include transform(scale(0.6));
	@include animation (moveclouds 60s linear infinite);
}

.cloud-4 {
	top: 200px;
  opacity: 0.75;
  -webkit-transform: scale(0.75);
	   -moz-transform: scale(0.75);
	        transform: scale(0.75);
	@include animation (moveclouds 35s linear infinite);
	-webkit-animation-delay: 8s;
     -moz-animation-delay: 8s;
          animation-delay: 8s;
}

@-webkit-keyframes moveclouds {
	0%   { left: -20%; }
	100% { left: 120%; }
}
@-moz-keyframes moveclouds {
	0%   { left: -20%; }
	100% { left: 120%; }
}
@-o-keyframes moveclouds {
	0%   { left: -20%; }
	100% { left: 120%; }
}


.copyForMobile{
	display: none;
}

