/*  ======================================================
	ROW
	======================================================  */
	.row{
		@include clearfix;
		display: block;
	}

/*  ======================================================
	GRID
	======================================================  */
	.col-12{
		@include col(12, percent);
		@include float(left);
	}
	.col-11{
		@include col(11, percent);
		@include float(left);
		@include max-screen(480px){
			@include col(12, percent);
		}
	}
	.col-10{
		@include col(10, percent);
		@include float(left);
		@include max-screen(480px){
			@include col(12, percent);
		}
	}
	.col-9{
		@include col(9, percent);
		@include float(left);
		@include max-screen(480px){
			@include col(12, percent);
		}
	}
	.col-8{
		@include col(8, percent);
		@include float(left);
		@include max-screen(480px){
			@include col(12, percent);
		}
	}
	.col-7{
		@include col(7, percent);
		@include float(left);
		@include max-screen(480px){
			@include col(12, percent);
		}
	}
	.col-6{
		@include col(6, percent);
		@include float(left);
		@include max-screen(480px){
			@include col(12, percent);
		}
	}
	.col-5{
		@include col(5, percent);
		@include float(left);
		@include max-screen(480px){
			@include col(12, percent);
		}
	}
	.col-4{
		@include col(4, percent);
		@include float(left);
		@include max-screen(480px){
			@include col(12, percent);
		}
	}
	.col-3{
		@include col(3, percent);
		@include float(left);
		@include max-screen(768px){
			@include col(6, percent);
		}
		@include max-screen(480px){
			@include col(12, percent);
		}
	}
	.col-2{
		@include col(2, percent);
		@include float(left);
		@include max-screen(768px){
			@include col(4, percent);
		}
		@include max-screen(480px){
			@include col(12, percent);
		}
	}
	.col-1{
		@include col(1, percent);
		@include float(left);
		@include max-screen(768px){
			@include col(2, percent);
		}
		@include max-screen(480px){
			@include col(12, percent);
		}
	}

/*  ======================================================
	FLOAT
	======================================================  */
	.pull-left{
		@include float(left);
	}
	.pull-right{
		@include float(right);
	}