.ice-creams{
	width: 320px;
	height: 194px;
	position: absolute;
	left: 100px;
	bottom: 66px;
	.wrap1{
		.splash1{
			position: absolute;
			left: 100px;
			top: -70px;
			opacity: 0;
		}
		.splash2{
			position: absolute;
			left: 100px;
			top: -60px;
			opacity: 0;
		}
		.splash3{
			position: absolute;
			left: 120px;
			top: -80px;
			opacity: 0;
		}
	}
	.wrap2{
		.ice.x{
			z-index: 1;
			height: 30px;
			left: 65px;

		}
		.splash1,
		.splash2,
		.splash3{
			position: absolute;
			top: -50px;
			left: 40px;
			opacity: 0;
		}
	}
	.wrap3{
		.ice.x{
			z-index: 1;
			height: 40px;
			left: 179px;
			top: 66px;
		}
		.splash1,
		.splash2,
		.splash3{
			position: absolute;
			top: -50px;
			left: 179px;
			opacity: 0;
		}
	}
	.ice{
		position: absolute;
		bottom: 0;
		z-index: 0;
		&.x{
			bottom: auto;
			top: 105px;
			height: 30px;
			z-index: 100;
			left: 130px;
		}
		&.one{
			left: 130px;
			bottom: -10px;
			z-index: 10;
			height: 100px;
		}
		&.two{
			left: 60px;
			height: 100px;
		}
		&.three{
			top: 90px;
			height: 100px;
			left: 175px;
		}
	}
}

.home{
	overflow: hidden;
	background-image: url(img/gradient.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 -80px;
	.text{
		width: 410px;
		position: absolute;
		left: 50%;
		top: 60%;
		@include transform(translate(-50%, -50%));
		display: block;
		text-align: center;
		margin: 0 auto;

		p{
			@include font-size(22px);
			line-height: 28px;
			color: $brown;
			margin: 0;
			font-weight: 700;
			span{
				color: $red;
			}
			&:last-child{
				width: 300px;
			}
		}

		.button{
			margin-top: 30px;
			display: inline-block;
			@include font-size(22px);
		}
	}
	.monster1{
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -100px;
	}
	.monster2{
		position: absolute;
		bottom: 70px;
		left: 60%;
		margin-left: -50px;
	}
}


.right-bg{
	width: 382px;
	height: 323px;
	bottom: 32px;
	right: 70px;
	background: url(img/home-right.png)no-repeat;
	position: absolute;
}

.create-video{
	&.overlayed{
		position: absolute;
	}
	.fb-album{
		width: 694px;
		height: 430px;
		background: url(img/fb-upload-bg.png)no-repeat center;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: -347px;
		margin-top: -215px;
		z-index: 1000;
		visibility: hidden;
		.frame-container{
			height: 310px;
			overflow: scroll;
		}
		.inner{
			padding: 20px 50px;
			position: relative;
			width: 100%;
			@include box-sizing(border-box);
		}
		.functional-button{
			padding: 20px;
			text-align: center;
			.button{
				text-transform: uppercase;
				display: inline-block;
				width: 110px;
				margin: 10px;
			}
		}
		.fb-counter{
			float: left;
			color: white;
			@include font-size(18px);
			@include avant;
			line-height: 60px;
			font-weight: 200;
		}
		#fb-select{
			@include font-size(18px);
			color: white;
			@include avant;
			background: url(img/fb-select.png)no-repeat;
			width: 234px;
			height: 66px;
			float: right;
			border: none;
			padding: 20px;
			padding-top: 5px;
			@include box-sizing(border-box);
			outline: none;
			option{
				background: $brown;
				padding: 10px 0;
			}	
		}
		.frame-fb{
			padding: 5px;
			@include box-sizing(border-box);	
			position: relative;
			cursor: pointer;
			&:before{
				position: absolute;
				content: "";
				top: 10px;
				right: 10px;
				width: 17px;
				height: 17px;
				background: white;
				border: 1px solid $brown;
				@include border-radius(5px);
				z-index: 10;
			}
			&:after{
				position: absolute;
				content: "";
				top: 12px;
				right: 12px;
				width: 14px;
				height: 13px;
				z-index: 10;
				background: url(img/checlist.png)no-repeat;
				@include transform(translateY(20px));
				@include transition(.3s);
				opacity: 0;
			}
			&.hidden{
				&:after{
					@include transform(translateY(0));
					opacity: 1;
				}
				.inner{
					&.overlay-frame:before{
						display: none;
					}
				}
			}
			.inner{
				padding: 0;
				min-height: 145px;
				&.overlay-frame{
					display: block;
					&:before{
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background: rgba(255,255,255,0.6);
					}
				}
			}
			
		}
	}
	#content{
		margin-top: 20px;
	}
	.inputs{
		width: 380px;
	}
	.text{
		display: block;
		margin: auto;
		text-align: center;
		width: 380px;
		margin-bottom: 20px;
		font-weight: 700;
	}
	.inner{
		width: 960px;
		display: block;
		margin: auto;
	}
	.char-counter{
		display: block;
		text-align: right;
		@include font-size(14px);
		color: #105a94;
		@include avant;
		line-height: 1;
		margin-bottom: 10px;
	}
	.charNum{
		display: inline-block;
	}
	.photos-uploader{
		position: relative;
		width: 545px;
		height: 300px;
		background: url(img/uploader-bg.png)no-repeat;
		.btn{
			display: block;
			position: absolute;
			z-index: 1000;
			&.fb{
				top: 200px;
				left: -20px;
			}
			&.twt{
				top: 280px;
				left: -20px;
			}
		}
		.fb-upload{
			@include hide-text;
			width: 70px;
			height: 60px;
			position: absolute;
			top: 0;
			left: 0;
		}
		.desktop{
			@include hide-text;
			width: 70px;
			height: 60px;
			position: absolute;
			top: 60px;
			left: 0;
			cursor: pointer;
		}
		.gallery-upload{
			position: relative;
			width: 450px;
			height: 250px;
			left: 76px;
			top: 14px;
			@include border-radius(10px);
			background: #818182;
			overflow: hidden;
			padding: 40px;
			@include box-sizing(border-box);
		}
	}
	.functional-buttons{
		text-align: right;
		padding-bottom: 30px;

		.button{
			text-transform: uppercase;
			text-align: center;
			display: inline-block;
			position: relative;
			&:before{
				content: "";
				width: 104px;
				height: 11px;
				position: absolute;
				bottom: -25px;
				left: 50%;
				margin-left: -52px;
				background: url(img/button-shadow.png)no-repeat
			}
		}
		.next{
			padding-left: 35px;
			padding-right: 35px;
		}
	}
}
.overlayed{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	.overlay{
		display: block;
		position: fixed;
		width: 100%;
		height: 200%;
		border-radius: 100%;
		overflow: hidden;
		background: rgba(0, 0, 0, 0.8);
		z-index: 16;
		top: -50%;
		@include transform (scale(2));
		@include transition(.3s);
	}
}
.instructions{
	width: 100%;
	height: 100%;
	.instruction{
		display: block;
	}
	.row{
		position: relative;
		.instruction.one{
			display: block;
			position: absolute;
			z-index: 100;
			color: white;
			@include font-size (20px);
			margin-top: -60px;
			right: 0;
			@include transform(rotate(5deg));
			&:before{
				content: "";
				width: 34px;
				height: 34px;
				position: absolute;
				background: url(img/arrow1.png)no-repeat;
				top: 25px;
				left: 100px;
			}
		}
		.instruction.two{
			display: block;
			position: absolute;
			z-index: 100;
			color: white;
			@include font-size (20px);
			width: 45px;
			height: 45px;
			left: -65px;
			@include transform(rotate(3deg));
			&:before{
				content: "";
				width: 25px;
				height: 28px;
				position: absolute;
				background: url(img/arrow-x.png)no-repeat;
				top: 15px;
				left: 30px;
			}
		}
		.instruction.three{
			display: block;
			position: absolute;
			z-index: 100;
			color: white;
			@include font-size (20px);
			width: 140px;
			height: 75px;
			left: -160px;
			top: 100%;
			@include transform(rotate(3deg));
			text-align: center;
			&:before{
				content: "";
				width: 31px;
				height: 161px;
				position: absolute;
				background: url(img/arrow3.png)no-repeat;
				top: -57px;
				right: -20px;
			}
		}
		.instruction.x{
			display: block;
			position: absolute;
			z-index: 100;
			color: white;
			@include font-size (20px);
			width: 150px;
			height: 75px;
			left: -170px;
			top: 16px;
			@include transform(rotate(3deg));
			text-align: center;

		}
		.instruction.four{
			position: absolute;
			z-index: 100;
			margin-left: 50px;
			top: -15px;
			
		}
		.instruction.five{
			position: absolute;
			z-index: 100;
			margin-left: 65px;
			top: 95px;
		}
		.instruction.six{
			position: absolute;
			z-index: 100;
			margin-left: 125px;
			top: 125px;
		}
	}
	
	.lanjut{
		display: block;
		position: fixed;
		top: 50%;
		left: 50%;
		// @include translate(-50%, -50%);
		margin-left: -50px;
		margin-top: -50px;
		z-index: 110;
		cursor: pointer;
		opacity: 0;
		img{
			width: 100px;
		}

	}
}
.instruction,
.lanjut,
.overlay{
	display: none;
}


.review-video{
	.wrapper{
		padding-top: 20px;
	}
	.col-2{
		min-height: 300px;
		position: relative;
		.cone{
			position: absolute;
			right: -20px;
			top: 20px;
			.splash{
				position: absolute;
				&.one{
					top: -20px;
					left: 0;
				}
				&.two{
					top: 55px;
					left: -40px;
				}
				&.three{
					top: 5px;
					left: -40px;
				}
			}
		}
		.cone2{
			position: absolute;
			left: -20px;
			top: -40px;
			.splash{
				position: absolute;
				&.four{
					top: -30px;
					right: 60px;
				}
				&.five{
					top: -15px;
					right: 20px;
				}
				&.six{
					top: 20px;
					right: 10px;
				}
				&.seven{
					top: 40px;
					right: 20px;
				}
				&.eight{
					top: 160px;
					right: -30px;
				}
				&.nine{
					top: 120px;
					right: -30px;
				}
				&.ten{
					top: 80px;
					right: -10px;
				}
			}
		}
		.button{
			position: absolute;
			top: 100%;
			display: inline-block;
			text-transform: uppercase;
			right: 60px;
			white-space: nowrap;
			padding-left: 20px;
			padding-right: 20px;
			@include border-radius(10px);
			&:before {
				content: "";
				width: 104px;
				height: 11px;
				position: absolute;
				bottom: -25px;
				left: 50%;
				margin-left: -52px;
				background: url(img/button-shadow.png) no-repeat;
				
			}
		}
		.share{
			right: auto;
			left: 30px;
			padding-left: 30px;
			padding-right: 30px;
		}
	}
	.col-8{
		padding-bottom: 80px;
	}
	
}
.video-container{
	background: url(img/preview-bg.png) no-repeat center;
	width: 550px;
	height: 379px;
	display: block;
	margin: auto;
	padding: 15px;
	padding-bottom: 100px;
	@include box-sizing (border-box);
	position: relative;
	&:before{
		content: "";
		width: 573px;
		height: 11px;
		background: url(img/big-shadow.png)no-repeat center;
		position: absolute;
		bottom: -10px;
		left: 50%;
		margin-left: -280px;
	}
	.inner{
		@include border-radius (10px);
		border: 1px solid #38220f;
		background: #4c2e15;
		min-height: 220px;
		padding: 15px;
		iframe{
			max-height: 300px;
		}
	}
}



.gallery{
	.scroll{
		position: fixed;
		right: 50px;
		top: 70%;
		width: 86px;
		height: 86px;
		@include border-radius(100%);
		border: 3px solid #482c14;
		@include box-sizing(border-box);
		color: #482c14;
		text-align: center;
		display: block;
		@include font-size (24px);
		line-height: 40px;
		img{
			display: inline-block;
			margin-top: -15px;
			@include animation (scroll 1s infinite);
		}
	}
	.wrapper{
		padding-top: 60px;
		position: relative;
	}
	.functional-buttons{
		position: absolute;
		top: 0;
		right: 0;
		#filters{
			background: #7b5a3f url(img/select-bg.png) no-repeat right 10px center ;
			padding: 2px 10px;
			border: 1px solid #654a34;
			color: white;
			@include border-radius(10px);
			text-transform: capitalize;
			width: 150px;
			float: right;
			margin-top: 7px;
		}
		.search{
			width: 150px;
			height: 25px;
			padding: 2px 10px;
			@include box-sizing(border-box);
			background: #7b5a3f url(img/search.png) no-repeat right 10px center  ;
			border: 1px solid #654a34;
			@include border-radius(10px);
			@include transition(.3s);
			.search-field{
				color: white;
				display: inline-block;
				background: none;
				border: none;
				width: calc(100% - 30px);
				&::-webkit-input-placeholder { color:white; }
				&::-moz-placeholder { color:white; } /* firefox 19+ */
				&:-ms-input-placeholder { color:white; } /* ie */
			}
			input[type=submit]{
				display: inline-block;
				width: 24px;
				height: 17px;
				@include hide-text;
				cursor: pointer;
				background: none;
				border: none;
			}
		}
	}
	.thumbnail-gallery{
		padding: 5px;
		@include box-sizing(border-box);
		cursor: pointer;
		a{
			display: block;
		}
		.title{
			@include danis;
			@include font-size (20px);
			color: #087696;
			margin: 0;
		}
		.inner{
			margin-top: 25px;
			min-height: 160px;
			height: 100%;
			figure img{
				width: 100%;
			}
		}
		figure{
			@include border-radius (3px);
			border: 1px solid #1596c0;
			position: relative;
			&:before{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(0,0,0,0.7);
			}
			&:after{
				content: "";
				width: 50px;
				height: 50px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -25px;
				margin-top: -25px;
				background: url(img/play.png);
			}
		}
		.caption{
			border-bottom-right-radius:3px;
			border-bottom-left-radius: 3px;
			@include clearfix;
			margin-top: -5px;
			position: relative;
			z-index: 10000;
			padding: 5px;
			@include box-sizing(border-box);
			background: rgba(39,197,237,1);
			background: -moz-linear-gradient(top, rgba(39,197,237,1) 0%, rgba(29,172,212,1) 50%, rgba(19,144,186,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39,197,237,1)), color-stop(50%, rgba(29,172,212,1)), color-stop(100%, rgba(19,144,186,1)));
			background: -webkit-linear-gradient(top, rgba(39,197,237,1) 0%, rgba(29,172,212,1) 50%, rgba(19,144,186,1) 100%);
			background: -o-linear-gradient(top, rgba(39,197,237,1) 0%, rgba(29,172,212,1) 50%, rgba(19,144,186,1) 100%);
			background: -ms-linear-gradient(top, rgba(39,197,237,1) 0%, rgba(29,172,212,1) 50%, rgba(19,144,186,1) 100%);
			background: linear-gradient(to bottom, rgba(39,197,237,1) 0%, rgba(29,172,212,1) 50%, rgba(19,144,186,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27c5ed', endColorstr='#1390ba', GradientType=0 );
		}
		.name{
			@include font-size (11px);
			color: white;
			font-family: Myriad pro;
			float: left;
		}
		.likes{
			float: right;
			padding-left: 20px;
			background: url(img/heart.png)no-repeat left;
			@include font-size (12px);
			color: white;
			font-family: Myriad pro;
		}
	}
}


.single-gallery{
	.wrapper{
		@include clearfix;
		padding-bottom: 30px;
	}
	.video-container{
		margin: 0;
	}
	.fb-comment{
		width: 380px;
		margin-top: 20px;
	}
	.popup-video{
		position: fixed;
		width: 640px;
		height: 360px;
		background: white;
		z-index: 1000;
		left: 50%;
		top: 50%;
		margin-left: -320px;
		margin-top: -180px;
	}
}

.soc-med-mbl{
	display: none;
}


.gallery{
	background: url(img/gbg.jpg)no-repeat;
	background-size: cover;
	.thumbnail-gallery .likes{
		background-size: 14px;
		cursor: pointer;
		&.liked{
			background: url(img/hearted.png)no-repeat;
			background-size: 14px;
			background-position: 0 6px;
		}
	}
}


.pagination{
	margin-top: 20px;
	ul{
		@include reset-list;
		text-align: center;
		.next{
			float: left;
		}
		.prev{
			float: right;
		}
		li{
			display: inline-block;
			padding: 0 5px;
			a{
				color: white;
				text-shadow: 0px 3px 2px #5b140c;
				font-family: 'avant', sans-serif;
				font-size: 18px;
				font-size: 1.125rem;
				line-height: 40px;
			}
		}
	}
}