@mixin pixel-to-percent ($parent-px, $pixToPercent){
	$width : ($pixToPercent * 100%) / $parent-px;
	width: $width ;
}



// Mixin for set up the baseline
// ------------------
@mixin establish-baseline( $font-size: $base-font-size ) {
	* html {
		font-size: 100% * ( $font-size / $browser-default-font-size ); 
	}

	html {
		font-size: $font-size;
		@include adjust-leading-to( 1, if( $relative-font-sizing, $font-size, $base-font-size ) );
		min-height: 100%;
	}
}

// Font-size px + rem
// ------------------
@mixin font-size( $size, $is-important: false, $font-size: $base-font-size / 1px ) {
	
	$size: if( unitless( $size ), $size, $size / 1px );

	@if $is-important {
		font-size: $size + px !important;
		font-size: ( $size / $font-size ) + rem !important;
	} @else {
		font-size: $size + px;
		font-size: ( $size / $font-size ) + rem;
	}
	line-height: ceil( $size / $base-line-height ) * ( $base-line-height / $size );
	
}

// Border Radius
// ------------------
$default-rad: 5px !default;
@mixin border-radius($rad: $default-rad) {
	-webkit-border-radius	: $rad;
	-moz-border-radius		: $rad;
	border-radius			: $rad;
}

// Mixin for cross browser inline-block
// ------------------
@mixin inline-block {
	display: -moz-inline-stack;
	-moz-box-orient: vertical;
	display: inline-block;
	*display: inline;
	vertical-align: top;
	*zoom: 1;
}

// Mixin for cross browser opacity
// ------------------
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// The micro clearfix 
// ------------------
@mixin clearfix { 
	*zoom:1;
    &:before, &:after { 
		content: ""; 
		display: table; 
	}
    &:after { 
		clear: both; 
	}
}

// Mixin for selection markup
// ------------------
@mixin selection( $selectionbg, $selectioncolor ) {
	::-moz-selection{ background: $selectionbg; color: $selectioncolor; text-shadow: none; }
	::selection { background: $selectionbg; color: $selectioncolor; text-shadow: none; }
}

// Mixin for reset list
// ------------------
@mixin reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

// Mixin for placeholder styling
// ------------------
@mixin placeHolder( $color ) {
	&::-webkit-input-placeholder { color: $color; }
	&:-moz-placeholder { color: $color; }
	&:-ms-input-placeholder { color: $color; }
}

// Webkit-style focus
// ------------------
@mixin tab-focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

// Center-align a block level element
// ----------------------------------
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Center-absolute a block level element
// ----------------------------------
@mixin center-absolute($width, $height) {
    position: absolute;
    left: 50%;
    top: 50%;
    height: $height;
    width: $width;
    margin-left: - $width / 2;
    margin-top: - $height / 2;
}


// Center-absolute a block level element
// ----------------------------------
@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


@mixin ellipsis ($max-width){
  display: inline-block;
  max-width: $max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


