@media only screen and (max-width: 1024px){  
	// Ipad Resolution Landscape
	.container {
		width: 100%;
	}
	.ice-creams {
		left: 40px;
		bottom: 20px;
	}
	.right-bg {
		width: 320px;
		height: 270px;
		@include background-size (contain);
		right: 20px;
	}
	.home{
		background-size: cover;
		background-position: 0 0;
		 .text{
			top: 360px;
		}
	}
}
@media only screen and (max-width: 768px){  
	// Ipad Resolution Potrait
	.wrapper{
		width: 100%;
	}
	.site-logo img{
		width: 140px;
	}
	.campaign-title img{
		width: 600px;
	}
	.home{ 
		#content {
			position: relative;
		}
		.text {
			top: 360px;
			position: relative;
			top: 0;
			left: 0;
			@include transform(translate(0,0));
		}
		.monster2{
			display: none;
		}
		.monster1{
			background: url(img/ice-creams-mbl.png)no-repeat;
			width: 199px;
			height: 199px;
			left: 20px;
			margin-left: 0;
			position: relative;
			img{
				display: none;
			}
		}
	}
	.ice-creams{
		display: none;
	}
	.right-bg {
		width: 270px;
		height: 220px;
		bottom: 20px;
	}
}
@media only screen and (max-width: 568px){  
	// iphone 5 Resolution Landscape
	// .soc-med,
	// .gallery-btn{
	// 	display: none;
	// }
	.site-logo{
		position: relative;
		color: transparent;
		top: -10px;
		left: 20px;
		width: 100px;
		height: 100px;
		display: block;
		img{
			width: 100px;
		}
	}
	.gallery-btn{
		display: none;
	}
	.home{
		overflow-y: auto;
		background-size: cover;
		background-position: 0 -10px;
		 #content {
			position: relative;
			margin-top: 100px;
		}
		.monster1{
			left: 0;
			position: relative;
			display: inline-block;
			margin-left: -20px;
			bottom: 60px;
		}
	}
	.soc-med{
		width: auto;
		height: auto;
		background: none;
		background: none;
		right: 0;
		top: 0 !important;
		.twitter,
		.fb{
			background: red;
			display: inline-block;
			position: relative;
			bottom: auto;
			left: auto;
			width: 32px;
			height: 32px;
			margin-left: -4px;
		}
		.twitter{
			background: url(img/twt-mbl.png)no-repeat;
		}
		.fb{
			background: url(img/fb-mbl.png)no-repeat;
		}
	}
	.campaign-title{
		padding-top: 0;
	}
	.right-bg{
		background: url(img/right-bg-mbl.png)no-repeat;
		background-size: contain;
		width: 30%;
		right: 0;
	}
	.ice-creams{
		background: url(img/left-bg-mbl.png)no-repeat;
		background-size: contain;
		width: 30%;
		left: 0;
		position: relative;
		display: inline-block;
		.wrap1, .wrap2, .wrap3{
			display: none;
		}		
	}
	.home .text{
		width: 90%;
	}
	.gallery .scroll{
		display: none !important;
	}
	.gallery .wrapper{
		padding: 0 20px;
		@include box-sizing(border-box);		
	}
	.gallery .functional-buttons{
		position: relative;
		.search{
			width: 100% !important;
			height: 54px;
			background: url(img/search-mbl.png)no-repeat;
			background-size: contain;
			border: none;
			.search-field{
				width: 100% !important;
				height: 50px;
			}
			input[type=submit]{
				position: absolute;
				right: 0;
				top: 0;
				width: 50px;
				height: 50px;
			}
		}
		
	}
	.gallery .functional-buttons #filters{
		display: none;
	}
	.video-container{
		width: 100%;
	}
	video{
		width: 100% !important;
	}
	.single-gallery .fb-comment {
		width: 100%;
		padding: 10px;
		@include box-sizing(border-box);
	}
	.pull-right, .pull-left{
		float: none;
	}
	.single-gallery .video-container{
		padding: 0;
		background: none;
		.inner{
			padding: 0;
			iframe{
				width: 100%;
				overflow: hidden;
			}
		}
	}
	#Stage{
		width: 100% !important;
	}

	.copyForMobile{
		display: block;
		@include avant;
		color: white;
		width: 300px;
		margin: 0 auto;
		p{
			@include font-size(16px);
			color: white;
			text-align: center;
			span{
				display: inline-block;
				color: $brown;
			}
		}
	}
	.video-container{
		height: auto;
	}
	.video-container:before{
		display: none;
	}
	.clouds{
		display: none;
	}


}
@media only screen and (max-width: 320px){  
	// iphone 5 Resolution Potrait
}